In [1]:
f=open('US_births_1994-2003_CDC_NCHS.csv','r')
data=f.read()
split_data=data.split('\n')
print(split_data[0:10])

['year,month,date_of_month,day_of_week,births', '1994,1,1,6,8096', '1994,1,2,7,7772', '1994,1,3,1,10142', '1994,1,4,2,11248', '1994,1,5,3,11053', '1994,1,6,4,11406', '1994,1,7,5,11251', '1994,1,8,6,8653', '1994,1,9,7,7910']

In [5]:
def read_csv(input_file):
    f=open(input_file)
    data=f.read()
    split_data=data.split('\n')
    string_list=split_data[1:]
    final_list=[]
    for each in string_list:
        int_fields=[]
        string_fields=each.split(',')
        for line in string_fields:
            int_fields.append(int(line))
        final_list.append(int_fields)
    return final_list

cdc_list=read_csv('US_births_1994-2003_CDC_NCHS.csv')
print(cdc_list[0:10])

[[1994, 1, 1, 6, 8096], [1994, 1, 2, 7, 7772], [1994, 1, 3, 1, 10142], [1994, 1, 4, 2, 11248], [1994, 1, 5, 3, 11053], [1994, 1, 6, 4, 11406], [1994, 1, 7, 5, 11251], [1994, 1, 8, 6, 8653], [1994, 1, 9, 7, 7910], [1994, 1, 10, 1, 10498]]

In [7]:
def month_births(list_of_list):
    birth_per_month={}
    for each in list_of_list:
        month=each[1]
        births=each[4]
        if month in birth_per_month:
            birth_per_month[month]=birth_per_month[month]+births
        else:
            birth_per_month[month]=births
    return birth_per_month
cdc_month_births=month_births(cdc_list)
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [10]:
def dow_births(list_of_list):
    day_of_week={}
    for each in list_of_list:
        day=each[3]
        births=each[4]
        if day in day_of_week:
            day_of_week[day]=day_of_week[day]+births
        else:
            day_of_week[day]=births
    return day_of_week
cdc_day_births=dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [11]:
def calc_counts(data,column):
    dictionary={}
    for each in data:
        val=each[column]
        births=each[4]
        if val in dictionary:
            dictionary[val]=dictionary[val]+births
        else:
            dictionary[val]=births
    return dictionary
    
cdc_year_births=calc_counts(cdc_list,0)
cdc_month_births=calc_counts(cdc_list,1)
cdc_dom_births=calc_counts(cdc_list,2)
cdc_dow_births=calc_counts(cdc_list,3)
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [12]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [13]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}